{{#partial "content"}}

      <div class="container-fluid">
          <div class="hero-detail">
              <div class="shadow ">
                <h3>Congratulations you have created a new hero</h3>
                 <h2>Hero Details</h2>
           {{#each hero}}
                    <p>Name: {{name}}</p>
                    <p>Age: {{age}}</p>
                    <p>Special power: {{specialPower}}</p>
                    <p>Weakness: {{weakness}}</p>
                    <p>Id: {{ id }}</p>
               <a href="/squad-detail"><button class="btn">Assign Squad</button></a>
        {{/each}}
          </div>
          </div>
          <div class="hero-btn">
    <a href="/hero-form"><button class="btn">Create a new Hero</button></a>
      </div>
      </div>





{{/partial}}

{{> layout.hbs}}