{{#partial "content"}}

    <h3>Congratulations you have created a new hero</h3>

        <h2> Here is Your Hero</h2>
        <div class="heroes">
    {{#each hero}}
                <div class="hero-item">
                    <p>Name: {{name}}</p>
                    <p>Age: {{age}}</p>
                    <p>Special power: {{specialPower}}</p>
                    <p>Weakness: {{weakness}}</p>
                    <p>Id: {{ id }}</p>
                    <a href="/squad-detail" class="btn">Assign Squad</a>
                </div>
        {{/each}}

        </div>
    <a href="/hero-form"><button>Create a new Hero</button></a>


    </div>

{{/partial}}

{{> layout.hbs}}