{{#partial "content"}}

    <h3>Congratulations you have created a new hero</h3>

        <h2> Here is Your Hero</h2>
        <div class="heroes">

                <div class="hero-item">

                    <p>Name: {{hero.name}}</p>
                    <p>Age: {{hero.age}}</p>
                    <p>Special power: {{hero.specialPower}}</p>
                    <p>Weakness: {{hero.weakness}}</p>
                    <p>Id: {{ hero.id }}</p>
                    <button><a href="/squad-detail" class="btn">Add hero To Squad</a></button>

                </div>

        </div>
    <a href="/hero-form"><button>Create a new Hero</button></a>


    </div>

{{/partial}}

{{> layout.hbs}}