{{#partial "content"}}

    <h3>Congratulations you have created a new squad</h3>


        <div class="container">
            <p>Name: {{squad.name}}</p>
            <p>Cause: {{squad.cause}}</p>
            <p>Maximum size: {{squad.size}}</p>
        </div>

    <h2>Add Hero to squad/h2>
    {{#each heroes}}
        <div class="hero-item">
                <p>Name: {{hero.name}}</p>
                <p>Special power: {{ hero.specialPower }}</p>
                <a class="btn" href="/squad/new/{{id}}">Add Hero To Squad</a>
      {{/each}}
    </div>
{{/partial}}

{{> layout.hbs}}