{{#partial "content"}}

    {{#each squads}}
        <div class="squad-cont">
        <div>
            <h1>{{ name }} </h1>
            <p>Purpose: {{cause}}</p>
            <p>Max participants: {{ size }}</p>
            <p>Id: {{squadId}}</p>
            <br><br>
            <h5>Members of {{name}} Squad</h5>
        {{#each members}}
                <div class="member-cont">
                    <h5>Name: {{this.name}}</h5>
                    <h5>Power: {{power}}</h5>
                    <Button class="btn">Remove</Button>
                </div>
        {{/each}}
        </div>
        </div>
        {{/each}}
<div class="squad">
    <div id="newMember">
        {{#each heroes}}
            <div class="hero-item">
                <img src="/img/DIAMONDHEAD06_4C.png" alt="">
                <div class="hero-detail">
                    <p>Name: {{name}}</p>
                    <p>Super power: {{ specialPower }}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{/partial}}

{{> layout.hbs}}